<!DOCTYPE html>
<html lang="en">

<head>
	{% block head %}
	<meta charset="utf-8">
	<title>Calculateur de Trajet</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/opensans-font.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/material-design-iconic-font/css/material-design-iconic-font.min.css') }}">
	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
	<!-- D3 js -->
	<script src="https://d3js.org/d3.v6.min.js"></script>
	<script src="https://d3js.org/d3-geo.v2.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  	<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
	
	{% endblock %}
</head>

<body>
	<div class="page-content">
		{% block content %}
		<!-- Le contenu spécifique de chaque page sera injecté ici -->
		{% endblock %}
    </div>


	<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.steps.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>