<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Calculateur de Trajet</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/opensans-font.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/material-design-iconic-font/css/material-design-iconic-font.min.css') }}">
	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<body>
	<div class="page-content">
		<div class="wizard-heading">Calculateur de trajet</div>
        <div class="wizard-v6-content">
            {% block content %}
            <!-- Le contenu spécifique de chaque page sera injecté ici -->
            {% endblock %}
        </div>
    </div>


	<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.steps.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>